---
import AppLayout from "../layouts/AppLayout.astro";
import CardProduct from "../components/CardProduct.astro"
---

<AppLayout title="Carrito de compras">
	<section>
		<h3 class="text-xl mb-3 font-semibold">Productos:</h3>
		<div class="products flex gap-3 justify-center">
			<CardProduct
				img="/images/product1.jpg"
				title="Producto 1"
				price="175"
			/>
			<CardProduct
				img="/images/product1.jpg"
				title="Producto 1"
				price="175"
			/>
			<CardProduct
				img="/images/product1.jpg"
				title="Producto 1"
				price="175"
			/>
		</div>

		<h3 class="text-xl mb-3 font-semibold">Carrito:</h3>
		<div class="cart">

		</div>
	</section>
</AppLayout>
